<plugin name='force-ssl' version='1.0.2' grailsVersion='2.0 &gt; *'>
  <author>David Estes</author>
  <authorEmail>destes@bcap.com</authorEmail>
  <title>Force SSL Plugin</title>
  <description>Creates a simple annotation to mark controller/actions as SSL restricted and performs the appropriate redirect.</description>
  <documentation>https://github.com/bertramdev/grails-force-ssl</documentation>
  <type>ForceSslGrailsPlugin</type>
  <resources>
    <resource>com.bertramlabs.plugins.ForceSSLFilters</resource>
  </resources>
</plugin>